header {
    text-align: center;
}

.hidden {
    display: none;
}

.quiz {
    text-align: center;
}

.btn {
   color: white;
   background-color: blueviolet;
   border-radius: 5px;
   width: 150px;
   height: 25px;
}

#input {
    text-align: center;
}

#score-list {
    margin: 0 auto;
}

.center {
    color:blue
}
